# Python 관련
__pycache__/

# 가상환경
venv/

# 로그 및 데이터
*.csv
*.json
*.db
/tweets_collects
/analysis_qualitative
/macro_weekly_collects
/market_daily_collects
/analysis_quantitative

# 환경 변수 및 민감 정보
*.env

# 기타
*.zip